@import "reset";
@import "variables";

@mixin niceBorder($thickness) {
  border: $thickness solid white;
}

body {
  font: 100% $font-stack;
  background: gray;
  a {
    color: $primary-color;
    &:hover {
      background: white;
    }
  }
}

$i: 6;
@while $i > 0 {
  h#{$i} {
    width: 5em * $i;
  }
  $i: $i - 1;
}

h1 {
  background: red;
}

label {
  @extend h1;
  @include niceBorder(2px);
}

.geilo {
  color: blue;
}