html
    head
        script(src='/static/index.js')
        title!= title
    body(ng-app='autodo')
        h1!= message
        ng-view
        div
            h2 {{name}}
            input(type='text', ng-model='name')
            div(ng-init='shibby1=["a", "B"]')
                ul
                    li(ng-repeat="name in shibby1  ") {{name|uppercase}}
            div.container(ng-controller="SimpleController as ctrl")
                ul
                    li(ng-repeat="name in asdasd  ") 2 {{name|uppercase}}